
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    background: #172042;
    color: #e8e8e8;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em 8%;
    gap: 2em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0c1839;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #03dcee;
}


.hero-content {
    max-width: 500px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0.4em;
}

.hero p {
    color: #9aa0b2;
    font-size: 1.15rem;
    line-height: 1.6em;
}

.hero-buttons {
    margin-top: 2em;
    display: flex;
    gap: 1em;
}

.btn-primary {
    background: linear-gradient(90deg, #178add, #03dcee);
    padding: 0.9em 1.8em;
    border-radius: 2em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background: linear-gradient(90deg, #03dcee, #178add);
}

.btn-secondary {
    padding: 10px 20px;
    border-radius: 2em;
    text-decoration: none;
    background: #0d1117;
    border: 2px solid transparent;
    background-image:
        linear-gradient(#172042, #172042),
        linear-gradient(90deg, #03dcee, #178add);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #fff;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-image:
        linear-gradient(90deg, #03dcee, #178add),
        linear-gradient(90deg, #03dcee, #178add);
    color: #fff;
}

.hero-graphic img {
    width: 380px;
    filter: drop-shadow(0px 10px 30px rgba(17, 12, 58, 0.6));
}

.features {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    gap: 2.5em;
    padding: 3em 8%;
}

.feature-box {
    background: #121935;
    padding: 2em;
    border-radius: 14px;
    text-align: center;
    width: 260px;
    transition: 0.3s;
}

.feature-box:hover {
    transform: translateY(-5px);
    background: #242e58;
}

.feature-box i {
    font-size: 40px;
    color: #03dcee;
    margin-bottom: 0.5em;
}

.feature-box h3 {
    margin: 0.4em 0;
    font-size: 1.4rem;
}

.feature-box p {
    color: #a0a5b5;
}

.cta {
    text-align: center;
    padding: 4em 8%;
    margin-top: 0.2em;
}

.cta h2 {
    font-size: 2.4rem;
}

.cta p {
    color: #9aa0b2;
    font-size: 1.2rem;
}

.cta .big {
    font-size: 1.2rem;
    padding: 1em 2.4em;
    margin-top: 1.2em;
    display: inline-block;
}

@media (max-width: 1150px) {
    .hero {
        padding: 3em 3em;
    }

    .hero h1 {
        font-size: 2.8em;
    }

    .cta {
        padding: 0.5em 1em;
        padding-bottom: 4em
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center; 
        padding: 0;
        gap: 1.5em;
        width: 100%;
    }

    .feature-box {
        width: 65%;    
        max-width: 580px;   
        margin: 0 auto; 
    }
}

@media (max-width: 980px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-buttons {
        justify-content: center;
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center; 
        padding: 0;
        gap: 1.5em;
        width: 100%;
    }

    .feature-box {
        width: 65%;    
        max-width: 580px;   
        margin: 0 auto; 
    }


}

@media (max-width: 800px) {
    .features {
        grid-template-columns: 1fr;
        padding: 3em 2em;
    }

    .cta {
        padding: 3em 2em;
    }

    .hero-graphic img {
        width: 50%;
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center; 
        padding: 0;
        gap: 1.5em;
        width: 100%;
    }

    .feature-box {
        width: 65%;    
        max-width: 580px;   
        margin: 0 auto; 
    }
}

@media (max-width: 600px) {
    .hero {
        padding: 2em;
    }

    .hero h1 {
        font-size: 2.2em;
    }

    .hero-graphic img {
        width: 50%;
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center; 
        padding: 0;
        gap: 1.5em;
        width: 100%;
    }

    .feature-box {
        width: 65%;    
        max-width: 580px;   
        margin: 0 auto; 
    }
}

@media (max-width: 400px) {
    html {
        font-size: 14px;
    }

    .btn-primary,
    .btn-secondary {
        padding: 0.8em 1.4em;
    }

    .hero-graphic img {
        width: 50%;
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center; 
        padding: 0;
        gap: 1.5em;
        width: 100%;
    }

    .feature-box {
        width: 65%;    
        max-width: 580px;   
        margin: 0 auto; 
    }
}