body {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #ffff;
    background: #172042;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

p {
    color: #8a8ea7;
    font-size: 0.9em;
}

small {
    color: #8a8ea7;
}

ul {
    list-style-type: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0c1839;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #03dcee;
}

.navbar {
    text-decoration: none;
    background: #1c2147;
    z-index: 3;
    position: fixed;
    width: 100%;
}

.navbar .container {
    max-width: 1250px;
    padding: 0.7em 0.5em ;
    margin: 0 1em;
}

.navbar .container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.material-icons.brand {
    font-size: 40px;
}

.navbar .menu,
.navbar .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin: 0 5px;
}

.navbar ul a {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #8a8ea7;
    padding-bottom: 0.2em;
    transition: 0.3s;
}

.navbar ul a:hover {
    color: #FFFF;
    font-size: 0.9em;
}

.navbar .active {
    border-bottom: 1px #6eaffa solid;
}

.navbar .container .menu-btn {
    display: none;
}

.options span {
    font-size: 2em;
    color: #FFF;
}

.profile-img {
    width: 2.5em;
    border-radius: 50%;
}

.notification-icon {
    position: relative;
    transition: 0.3s;
}

.notification-icon::after {
    content: "5";
    position: absolute;
    top: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    background: #ea335d;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 5em 2em 0 0.5em;
    background: linear-gradient(0deg, #0c1839, #1c2145);
    max-width: 20em;
    overflow-y: scroll ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar::-webkit-scrollbar {
    width: 40px; 
}

.sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #03dcee;
}

.sidebar .container {
    position: relative;
    height: 100%;
    color: #6b6f8a;
    width: 100%;
    padding: 0 1.2em;
}

.sidebar ul {
    margin: 1em 0 3em 0;
    width: 100%;
    padding: 0;
}

.sidebar li {
    display: block;
    padding: 0.6em 0;
    border-bottom: 1px #060836 solid;
    width: 100%;
    padding-left: 0;
}

.sidebar ul a {
    font-size: 0.85em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.ph {
    font-size: 25px;
    margin-right: 0.7em;
    color: #FFF;
    transition: 0.3s;
}
.ph:hover {
    font-size: 30px;
    color: #03dcee;
    transition: 0.3s;
}

.sidebar a .icones {
    margin-right: 0.7em;
    color: #6b6f8a;
    transition: 0.3s ease;
    font-size: 16px;
}

.sidebar a.active span,
.sidebar a:hover .icones {
    color: #03dcee; 
    font-size: 19px; 
    font-weight: 600;
}

.sidebar a:hover .icones {
    color: #fff; 
    font-size: 19px; 
    font-weight: 600;
}

.sidebar .note h1 {
    color: #fff !important;
}
.sidebar a:hover .material-icons {
    color: #FFF;
    transition: 0.3s;
}

.sidebar a:hover span {
    color: #03dcee;
    transition: 0.3s;
}

.sidebar .note {
    width: 100%;
    margin-top: 2em;
    text-align: left;
}
.note {
    background: linear-gradient(90deg, #0e133d, #1d1d4d);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5),
    inset 5px 5px 0 #10183b,
    inset -5px -5px 0 #161e41;
    padding: 2em;
    border-radius: 15px;
}

.btn {
    background: linear-gradient(90deg, #178add, #03dcee);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    border-radius: 2em;
    display: flex;
    padding: 0.6em 0.8em;
    justify-content: center;
}

.btn:hover {
    background: linear-gradient(90deg, #03dcee, #178add);
    transition: 0.3s;
}

.sidebar-footer {
    padding: 3em 1em 1em 1em;
    width: 100%;
    text-align: left;
    padding-left: 0;
    font-size: 0.8em;
}

.dashboard {
    background: #172042;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 2em;
    position: absolute;
    top: 4.1em;
    right: 0;
    width: calc(100% - 18em);
    overflow: hidden;
}

.panel {
    background: linear-gradient(90deg, #262a4f, #122442);
    box-shadow: -5px -5px 8px #11163c;
    border-radius: 15px;
    overflow: hidden;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
}

.list li:not(:last-child) {
    border-bottom: 1px #2a335e solid;
}

.list span {
    color: #ea335d;
}

.goal {
    padding: 1em;
}

.goals,
.goal,
.goal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-title h4:nth-child(1) {
    margin: 0 2em 0 0;
}

.goal-title {
    margin-bottom: 0.5em;
}

.goals {
    flex-direction: column;
}

.goal {
    margin: 1em 0;
}

.goal span .ph-check-circle{
    color: #03dcee;
    margin-right: 0.5em;
    font-size: 2em;
}

.sales {
    grid-column-start: span 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin: 2em 0;
}

.sales > div {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 1em;
}

.sales h1 {
    margin: 0.5em 0;
}

.sales small {
    color: #FFF
}

.sales > div:nth-child(even) {
    background: linear-gradient(0deg, #b52b4b, #ea335d);
}

.sales > div:nth-child(odd) {
    background: linear-gradient(0deg, #178add, #03dcee);
}

.text {
    padding: 1em;
}

.text-vertical {
    grid-row-start: span 2;
}

.text-horizontal {
    grid-column-start: span 2;
}


#scientificChart {
    grid-column-start: span 3;
}

@media screen and (max-width: 1150px) {
    .dashboard, .sales {
        grid-template-columns: 1fr 1fr;
    }
    #scientificChart, .sales {
        grid-column-start: span 2;
    }
    .text-horizontal {
        grid-column-start: span 1;
    }
}

@media screen and (max-width: 1050px) {
    .sidebar {
        max-width: initial;
        text-align: center;
        padding: 5em 1em 1em 1em;
    }
    .sidebar a span:not(.material-icons),
    .note,
    .sidebar-footer,
    .title {
        display: none;
    }
    .sidebar a .material-icons {
        margin: 0;
    }
    .dashboard {
        width: calc(100% - 4.1em);
    }
}

@media screen and (max-width: 800px) {
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .navbar .container > div {
        grid-template-columns: 1fr;
    }
    .navbar .menu {
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
    }
    .navbar ul:nth-child(1) li {
        display: block;
        margin: 1em 0;
    }
    .navbar ul:nth-child(1) li:nth-child(1) {
        margin-top: 1.5em;
    }
    .navbar ul:nth-child(2) li:nth-child(1) {
        margin-left: 0;
    }
    .navbar .container .menu-btn {
        display: inline-block;
        cursor: pointer;
    }
    .navbar .container .menu-btn span {
        font-size: 1.7em;
    }
    .navbar .container .nav-toggle {
        height: 16em;
    }
}

@media screen and (max-width: 750px) {
    .dashboard, .sales {
        grid-template-columns: 1fr;
    }
    #scientificChart, .sales {
        grid-column-start: span 1;
    }
}

@media screen and (max-height: 700px) {
    .sidebar .container {
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 13px;
    }
}